<h1>Let's play Rock Paper Scissors, Y'all!!!!!</h1>

<form action="/winner">
  <div class="form-group">
    <label for="player1">What is your input Player Uno?</label>
    <input id="player1" name="player1" class="form-control" type="text">

    <label for="player2">What is your input Player Dos?</label>
    <input id="player2" name="player2" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Let's Play</button>
</form>
